body{
    margin: 0%;
    padding: 0%;
}
.header{
    grid-area: header;
    background-color: rgb(148, 191, 218);
}
.navbar{
    grid-area: navbar;
    background-color: darkslategrey;
    height: 35px;
    align-items: center;
    display: flex;
}
.firstColumn{
    grid-area: firstColumn;
    background-color:
    gray;
    width: 33%;
    height: 400px;
}
.middleColumn{
    grid-area: middleColumn;
    background-color: darkgray;
    width: 34%;
    height: 400px;
}
.lastColumn{
    grid-area: lastColumn;
    background-color: lightgray;
    width: 33%;
    height: 400px;
}
.footer{
    grid-area: footer;
    background-color: darkslategray;
}

.container{
    display: grid;
    grid-template-areas: "header"
    "navbar"
    "firstColumn"
    "footer"
}
@media screen and (max-width:600px) {
    .container{
        display: grid;
        grid-template-areas: "header"
        "navbar"
        "firstColumn"
        "footer"
    }
    .firstColumn{
        min-width: 300px;
    }
    .middleColumn{
        min-width: 300px;
    }
    .lastColumn{
        min-width: 600px;
    }
    .main{
        flex-wrap: wrap;
    }
    .container-grid{
        display: grid;
        grid-template-columns: 2;
    }
    .firstColumnGrid{
        min-width: 300px;
    }
    .middleColumnGrid{
        min-width: 300px;
    }
    .lastColumnGrid{
        min-width: 600px;
    }
    
}
.main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header h3{
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    border-right: 1px solid black;
    /* margin: 2%; */
    padding-left: 2%;
    padding-right: 2%;
}
.footer p{
    color: white;
    text-align: center;
}

.container-grid{
    display: grid;
    grid-template-areas: "header header header"
    "navbar navbar navbar"
    "firstColumn middleColumn lastColumn"
    "footer footer footer"
}
.firstColumnGrid{
    grid-area: firstColumn;
    background-color:
    gray;
    height: 400px;
}
.middleColumnGrid{
    grid-area: middleColumn;
    background-color: darkgray;
    height: 400px;
}
.lastColumnGrid{
    grid-area: lastColumn;
    background-color: lightgray;
    height: 400px;
}
