body{
    background-image: url("../images/movieImages/background.png");
    padding: 0%;
    margin: 0%;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.banner{  
    background-image: url("../images/movieImages/bannerbg.png");   
}

.banner img{
    margin-left: 20%;
}
h1{
    padding: 0% 40% 0% 40%;
}
.review{
    display: flex;
    flex-direction: row;
}
.innerHeader {
    background-image: url("../images/movieImages/rbg.png");
    height: 10%;
  }
  .innerHeader .content {
    display: flex;
    align-items: center;
  }

  .innerHeader .content > span {
    font-size: 46px;
    font-weight: 700;
    color: red;
  }
#innerBox{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    height: auto;
}
  
  