body{
    margin: 0px;
    padding: 0px;
}
.product-form{
    margin: 10%
}
#productNumber, #name, #price, #quantity, #supplier, #date{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin: 2% 0% 2% 0%;
    font-size: larger;
}
#label{
    font-size: x-large;
}
.container{
    display: flex;
    justify-content: space-around;
}

#submitBtn{
    height: 50px;
    width: 140px;
    border-radius: 5px;
    color: lightskyblue;
    font-size: larger;
    border: 1px solid lightskyblue;
}